
{% extends "layout.html" %}

{% block content %}
<div class="container-narrow">

    <h1><i class="fa fa-trash-o"></i> Delete User</h1>
    <form id="DeleteForm" class="form form-delete" method="POST"
          action="" role="form">
        {{ delete_form.hidden_tag() }}
        {{ delete_form.username() }}
        <div class="form-group">
            {{delete_form.safety_question}}
            {{delete_form.safety_question.label}}
        </div>
        {{delete_form.delete(class_="btn btn-default btn-submit")}}
    </form>

</div>
{% endblock %}
