
{% extends "layout.html" %}
{% block content %}
    <h2>User List</h2>

    <table class="table table-striped">
    <thead>
    <tr>
        <th> Action </th>
        <th> Login </th>
        <th> Name </th>
        <th> email </th>
        <th> Active </th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>
            <a href="{{ url_for('user.profile', name=user.id) }}"><i class="fa fa-edit"></i></a>
            <a href="{{ url_for('user.delete', name=user.id) }}"><i class="fa fa-trash-o"></i></a>
            </td>
            <td> {{ user.username }} </td>
            <td> {{ user.full_name }} </td>
            <td> {{ user.email }} </td>
            <td> {{ user.active }} </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
