
{% extends "layout.html" %}

{% block content %}
    <div class="container-narrow">
        <h1><i class="fa fa-key"></i> Change Password </h1>

        <form id="chpwdForm" class="form form-register" method="POST"
              action="" role="form">
            {{ chpwd_form.hidden_tag() }}
            {{ chpwd_form.username() }}
                <div class="form-group">
                    {{chpwd_form.oldpassword.label}}
                    {{chpwd_form.oldpassword(placeholder="Old Password", class_="form-control")}}
                </div>
                <div class="form-group">
                    {{chpwd_form.password.label}}
                    {{chpwd_form.password(placeholder="Password", class_="form-control")}}
                </div>
                <div class="form-group">
                    {{chpwd_form.confirm.label}}
                    {{chpwd_form.confirm(placeholder="Password (again)", class_="form-control")}}
                </div>
            {{chpwd_form.setpwd(class_="btn btn-default btn-submit")}}
        </form>
    </div>
{% endblock %}
