
{% extends "layout.html" %}

{% block content %}
    <div class="container-narrow">
        <h1 class="page-header"><i class="fa fa-tag"></i> REST Token </h1>

        <form id="tokenForm" class="form" method="POST"
              action="" role="form">
            {{ token_form.hidden_tag() }}

            <div class="form-group">
                {{token_form.token.label}}
                {{token_form.token(placeholder="Last Name", class_="form-control")}}
            </div>
            <div class="form-group">
                {{token_form.expiry.label}}
                {{token_form.expiry(placeholder="Email", class_="form-control")}}
            </div>

            <p>
            <div class="form-group">
                {{token_form.lifetime.label}}
                {{token_form.lifetime(placeholder="forever", class_="form-control")}}
            </div>
            {{token_form.generate(class_="btn btn-default btn-submit")}}
            </p>
        </form>
    </div>
{% endblock %}
