{% extends 'layout.html' %}
{% block title %}Contact{% endblock %}

{% block content %}

<div class="page-content">
  <h1>Contact</h1>

<p We’re here to help with any questions or comments.
If you just want to say hi, that's cool too.</p>

<p>If you have an <a href="https://github.com/volker-kempert/enma/issues/new">
issue just file it </a></p>

<p>We'd be happy if you join the development:
<a href="https://github.com/volker-kempert/enma"> Clone/Fork the git repository
</a></p>

<p>Visit us on <a href="https://github.com/volker-kempert"> GitHub </a></p>

</div>
{% endblock %}
