
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to <br/> Entitlement Management</h1>

  <p>This web application manages entitlements that are assigned to users.
  Other applications can query 
  users' entitlements via a RESTful API over http/https protocol
  </p>
  <p><a href="https://github.com/volker-kempert/enma" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-user"></i> User Management</h2>
      <p>
      User self-registration, or administrator based registration.
      Users manage their profiles. 
      Administrators manage other users. 
      Log in as site-admin: site-admin to explore all capabilities</p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-certificate"></i> Entitlements </h2>
      <p>
      Entitlement creation, assignment to users, and expiry;
      Management of entitlement types (coming)
      </p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-exchange"></i> RESTful API</h2>
      <p>
      RESTful API, Token base authentication, available on http(s) protocol
      </p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
