{% extends 'layout.html' %}
{% block title %}Legal Notice{% endblock %}

{% block content %}

<div class="page-content">

<h1> Legal Notice/Impressum </h1>
<h2> Anbieter/Inhaber </h2>

Ingenieurbüro Volker Kempert <br/>
Edelhofgasse 12  <br/>
07749 Jena  <br/>
Germany  <br/>
<p/>
Kontakt: <br/>
Telefon: +49 3641 357592 <br/>
Telefax: +49 3641 355793 <br/>
www.pixmeter.com <br/>
<p/>
USt-IdNr.: DE 283193613  <br/>

<h2> Rechtliche Hinweise/Legal Notice </h2>

Inhaltlich Verantwortlich gemäß § 55 Abs. 2 RStV / § 6 Abs.2 MDStV:
<p/>
Volker Kempert <br/>
Edelhofgasse 12  <br/>
07749 Jena  <br/>
Germany  <br/>

<h2> Haftungshinweis </h2>

Die Nutzung und der Zugriff auf die Internetseiten vom
Ingenieurbüro Volker Kempert erfolgt auf eigene Gefahr.
Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung
für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind
ausschließlich deren Betreiber verantwortlich.
Das Ingenieurbüro Volker Kempert behält sich das Recht vor, 
die Inhalte seiner Internetseiten zu verändern und zu ergänzen.
Das Ingenieurbüro Volker Kempert übernimmt keine Haftung für direkte
oder indirekte Schäden, die durch den Zugriff auf diese Seiten oder die Nutzung
dieser Seiten möglicherweise entstehen können. 
Die Nutzung und der Zugriff auf diese Seiten erfolgen somit auf eigene Gefahr
des Nutzers.

<h2> Vervielfältigung / Urheberrechte </h2>

Die auf den Internetseiten vom Ingenieurbüro Volker Kempert bereitgestellten
Gestaltungselemente und Informationen sind urheberrechtlich geschützt.
Jegliche Vervielfältigung bedarf der ausdrücklichen Zustimmung vom
Ingenieurbüro Volker Kempert oder des betreffenden Autors. 
Informationen, die für konkrete Zwecke bereitgestellt sind, dürfen nur mit
ausdrücklicher Zustimmung von Ingenieurbüro Volker Kempert oder des
betreffenden Autors für andere Zwecke verwendet werden.

</div>
{% endblock %}
